<header>
    <a href="/">
        <div class="logo">
            <img src="/img/logo.png" alt="Rayalaseema University">
        </div>

    </a>
    <div class="nav-links-container">
        <ul class="nav-list">
            <li class="nav-link"><a href="/" style="color: #0be26c;"><i class="fa-solid fa-house"></i>
                    &nbsp;Home</a></li>
            <li class="nav-link"><a href="/library-staff-details"><i class="fa-solid fa-book"></i> &nbsp;Library Staff</a></li>
            <li class="nav-link"><a href="https://www.rayalaseemauniversity.ac.in/" target="_blank"><i class="fa-solid fa-right-to-bracket"></i> &nbsp;Goto University
                    Site</a></li>
            <li class="nav-link ad-st-login"><a href="/studentLogin"><i class="fa-solid fa-users"></i> &nbsp;Students Login</a></li>
            <li class="nav-link ad-st-login"><a href="/adminLogin"><i class="fa-solid fa-user"></i> &nbsp;Management Login</a></li>
        </ul>
    </div>
</header>
<div class="mobile-nav-container">

    <div class="mobile-nav-bar">
        <button class="burger" onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="mobile-logo">
        <img src="/img/logo.png" alt="">
    </div>
    
</div>
<div class="mobile-nav-link-container">
    <div class="mnav-x"><i class="fa-solid fa-xmark" id="mnavx"></i></div>
        <div class="mobile-nav-bg"></div>
        <div style="transition-delay: 0.1s" class="mobile-nav-bg"></div>
        <div style="transition-delay: 0.2s" class="mobile-nav-bg"></div>
        <div style="transition-delay: 0.3s" class="mobile-nav-bg"></div>
        <div style="transition-delay: 0.4s" class="mobile-nav-bg"></div>
        <ul class="mobile-nav-links">
          <li style="animation-delay: 0.4s">
            <a href="/" style="color: #0be26c;"><i class="fa-solid fa-house"></i>
                &nbsp;Home</a>
          </li>
          <li style="animation-delay: 0.5s">
            <a href="/library-staff-details"><i class="fa-solid fa-book"></i> &nbsp;Library Staff</a>
          </li>
          <li style="animation-delay: 0.6s">
            <a href="https://www.rayalaseemauniversity.ac.in/" target="_blank"><i class="fa-solid fa-right-to-bracket"></i> &nbsp;Goto University
                Site</a>
          </li>
          <li style="animation-delay: 0.7s" class="ad-st-login">
            <a href="/studentLogin"><i class="fa-solid fa-users"></i> &nbsp;Students Login</a>
          </li>
          <li style="animation-delay: 0.8s" class="ad-st-login">
            <a href="/adminLogin"><i class="fa-solid fa-user"></i> &nbsp;Management Login</a>
          </li>
          
        </ul>
</div>